modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 23636
externalPort = 3001

[[ports]]
localPort = 23637
externalPort = 3000

[env]
PORT = "5000"

[deployment]
deploymentTarget = "vm"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0", "javascript_log_in_with_replit:2.0.0", "javascript_object_storage:2.0.0", "sendgrid:1.0.0"]

[userenv]

[userenv.production]
COOKIE_DOMAIN = ".hire-in.com"

[userenv.shared]
OFFER_SIGNING_KEY = "28519524dc22b569bcaf5abca3bd10aa95921c3359b36dc96ba6584302e6eac2"
BASE_URL = "https://employee.hire-in.com"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000
